h1 blog.chrisbest
p
p Topics in Computer Science
    ul
        each article, slug in public.articles.cs._data
            if article.published!==false
            li
                a(href="/articles/cs/#{ slug }") #{ article.date } | #{ article.title }

p Topics in Psychology
    ul
        each article, slug in public.articles.psychology._data
            if article.published!==false
            li
                a(href="/articles/psychology/#{ slug }") #{ article.date } | #{ article.title }

